<div class="container-fluid">
   <!-- Search Box -->
   <div class="container-fluid">
    <div class="text-center pt-5">
        <h1 class="fs-1 fw-bolder">Search Companies</h1>
        <p>Search your career opportunity through 31,323+ jobs</p>
        <div class="container w-100 p-3 inputradius" style="background-color: #E5EFF9;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-text fs-5 bg-transparent border-0"><i
                                class="bi bi-search"></i></span>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="Company Name"
                            aria-label="Job">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-text fs-5 bg-transparent border-0"><i
                                class="bi bi-geo-alt"></i></span>
                        <select class="form-select bg-transparent border-0" id="inputGroupSelect01">
                            <option selected>Work Location...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-text fs-5 bg-transparent border-0"><i
                                class="bi bi-building"></i></span>
                        <select class="form-select bg-transparent border-0" id="inputGroupSelect01">
                            <option selected>Industry...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Companies -->
<div class="container">
     <div class="row justify-content-between">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xlg-4 pt-4">
            <div class="card shadow border-0 rounded-3 p-3">
                <div class="card-header border-0 bg-white">
                    <div>
                        <h3 class="fs-3 fw-bolder"><span><img src="../assets/images/icons/company.png" alt="" width="50px"></span>Ashok Leyland</h3>
                        <h6><i class="bi bi-geo-alt fs-6"></i>chennai</h6>
                    </div>
                     
                </div>
                <div class="card-body">
                  
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et turpis sit tincidunt sagittis amet eu egestas viverra. Cum fringilla pellentesque ultrices felis malesuada donec pharetra gravida. Interdum purus in.</p>
                  
                </div>
                <div class="card-footer border-0 bg-white">
                    <div class="row">
                       <div class="col">
                        <a href="#" class="card-link text-decoration-none">450 Jobs Avalible</a>
                       </div>
                       <div class="col text-end">
                        <a href="#" class="card-link fs-3"><i class="bi bi-arrow-right"></i></a>
                       </div>
                    </div>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xlg-4 pt-4">
            <div class="card shadow border-0 rounded-3 p-3">
                <div class="card-header border-0 bg-white">
                    <div>
                        <h3 class="fs-3 fw-bolder"><span><img src="../assets/images/icons/company.png" alt="" width="50px"></span>Ashok Leyland</h3>
                        <h6><i class="bi bi-geo-alt fs-6"></i>chennai</h6>
                    </div>
                     
                </div>
                <div class="card-body">
                  
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et turpis sit tincidunt sagittis amet eu egestas viverra. Cum fringilla pellentesque ultrices felis malesuada donec pharetra gravida. Interdum purus in.</p>
                  
                </div>
                <div class="card-footer border-0 bg-white">
                    <div class="row">
                       <div class="col">
                        <a href="#" class="card-link text-decoration-none">450 Jobs Avalible</a>
                       </div>
                       <div class="col text-end">
                        <a href="#" class="card-link fs-3"><i class="bi bi-arrow-right"></i></a>
                       </div>
                    </div>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xlg-4 pt-4">
            <div class="card shadow border-0 rounded-3 p-3">
                <div class="card-header border-0 bg-white">
                    <div>
                        <h3 class="fs-3 fw-bolder"><span><img src="../assets/images/icons/company.png" alt="" width="50px"></span>Ashok Leyland</h3>
                        <h6><i class="bi bi-geo-alt fs-6"></i>chennai</h6>
                    </div>
                     
                </div>
                <div class="card-body">
                  
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et turpis sit tincidunt sagittis amet eu egestas viverra. Cum fringilla pellentesque ultrices felis malesuada donec pharetra gravida. Interdum purus in.</p>
                  
                </div>
                <div class="card-footer border-0 bg-white">
                    <div class="row">
                       <div class="col">
                        <a href="#" class="card-link text-decoration-none">450 Jobs Avalible</a>
                       </div>
                       <div class="col text-end">
                        <a href="#" class="card-link fs-3"><i class="bi bi-arrow-right"></i></a>
                       </div>
                    </div>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xlg-4 pt-4">
            <div class="card shadow border-0 rounded-3 p-3">
                <div class="card-header border-0 bg-white">
                    <div>
                        <h3 class="fs-3 fw-bolder"><span><img src="../assets/images/icons/company.png" alt="" width="50px"></span>Ashok Leyland</h3>
                        <h6><i class="bi bi-geo-alt fs-6"></i>chennai</h6>
                    </div>
                     
                </div>
                <div class="card-body">
                  
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et turpis sit tincidunt sagittis amet eu egestas viverra. Cum fringilla pellentesque ultrices felis malesuada donec pharetra gravida. Interdum purus in.</p>
                  
                </div>
                <div class="card-footer border-0 bg-white">
                    <div class="row">
                       <div class="col">
                        <a href="#" class="card-link text-decoration-none">450 Jobs Avalible</a>
                       </div>
                       <div class="col text-end">
                        <a href="#" class="card-link fs-3"><i class="bi bi-arrow-right"></i></a>
                       </div>
                    </div>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xlg-4 pt-4">
            <div class="card shadow border-0 rounded-3 p-3">
                <div class="card-header border-0 bg-white">
                    <div>
                        <h3 class="fs-3 fw-bolder"><span><img src="../assets/images/icons/company.png" alt="" width="50px"></span>Ashok Leyland</h3>
                        <h6><i class="bi bi-geo-alt fs-6"></i>chennai</h6>
                    </div>
                     
                </div>
                <div class="card-body">
                  
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et turpis sit tincidunt sagittis amet eu egestas viverra. Cum fringilla pellentesque ultrices felis malesuada donec pharetra gravida. Interdum purus in.</p>
                  
                </div>
                <div class="card-footer border-0 bg-white">
                    <div class="row">
                       <div class="col">
                        <a href="#" class="card-link text-decoration-none">450 Jobs Avalible</a>
                       </div>
                       <div class="col text-end">
                        <a href="#" class="card-link fs-3"><i class="bi bi-arrow-right"></i></a>
                       </div>
                    </div>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xlg-4 pt-4">
            <div class="card shadow border-0 rounded-3 p-3">
                <div class="card-header border-0 bg-white">
                    <div>
                        <h3 class="fs-3 fw-bolder"><span><img src="../assets/images/icons/company.png" alt="" width="50px"></span>Ashok Leyland</h3>
                        <h6><i class="bi bi-geo-alt fs-6"></i>chennai</h6>
                    </div>
                     
                </div>
                <div class="card-body">
                  
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et turpis sit tincidunt sagittis amet eu egestas viverra. Cum fringilla pellentesque ultrices felis malesuada donec pharetra gravida. Interdum purus in.</p>
                  
                </div>
                <div class="card-footer border-0 bg-white">
                    <div class="row">
                       <div class="col">
                        <a href="#" class="card-link text-decoration-none">450 Jobs Avalible</a>
                       </div>
                       <div class="col text-end">
                        <a href="#" class="card-link fs-3"><i class="bi bi-arrow-right"></i></a>
                       </div>
                    </div>
                </div>
              </div>
        </div>

        

        

        
        
     </div>
</div>

</div>