<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body">
          <div class="text-center">
              <h1 class="fs-5 fw-bolder">Choose Your Language</h1>
              <div class="row mt-3">
                 <div class="col-4 pt-sm-3">
                    <a href="#" class="btn btn-outline-primary"><span><img src="../assets/images/icons/english.svg" alt="" class="me-1"></span>English</a>
                 </div>
                 <div class="col-4 pt-sm-3">
                    <a href="#" class="btn btn-outline-primary"><span><img src="../assets/images/icons/tamil.svg" alt="" class="me-1"></span>Tamil</a>
                 </div>
                 <div class="col-4 pt-sm-3">
                    <a href="#" class="btn btn-outline-primary"><span><img src="../assets/images/icons/hindi.svg" alt="" class="me-1"></span>Hindi</a>
                 </div>
                 <div class="col-6 pt-3">
                    <a href="#" class="btn btn-outline-primary"><span><img src="../assets/images/icons/telugu.svg" alt="" class="me-1"></span>Telugu</a>
                 </div>
                 <div class="col-6 pt-3">
                    <a href="#" class="btn btn-outline-primary"><span><img src="../assets/images/icons/kannadam.svg" alt="" class="me-1"></span>Kannada</a>
                 </div>
              </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
