<section class="container pt-sm-0 pt-md-5 pt-lg-5">
    <div class="row">
        <!-- first column -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 p-3">
            <div class="d-flex">
                <img src="../assets/images/icons/plumberround.svg" alt="" class="">
                   <div class="p-3">
                    <span class="fs-3 fw-bolder">Plumber</span>
                    <span>43 Opening</span>
                    <div class="d-flex align-items-center">
                       <img src="../assets/images/icons/royal.png" alt="" width="30px" class="me-1">
                       <span>Royal Enfield</span>
                    </div>
                   </div>
            </div>
            <div class="row mt-3 justify-content-between">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                   <h3 class="fw-bolder">Helper for Plumbers</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 d-flex justify-content-start">
                   
                        <div class="p-2">
                            <a href="#" class="btn btn-outline-primary rounded-pill"><i class="bi bi-bookmark"></i></a>
                        </div>
                        <div class="p-2">
                            <a href="#" class="btn btn-outline-primary rounded-pill"><i class="bi bi-share"></i></a>
                        </div>
                        <div class="p-2">
                            <a href="#" class="btn btn-primary rounded-pill">Apply Now</a>
                        </div>
                    
                </div>
            </div>
            <div class="row pt-3">
               <div class="col">
              
                  <h6 class="fw-bolder">Experience</h6>
                  <span><img src="../assets/images/icons/Experience.svg" alt="">4 years</span>
                
               </div>
               <div class="col">
               
                    <h6 class="fw-bolder">Location</h6>
                    <span><img src="../assets/images/icons/Location.svg" alt="">Chennai</span>
               
               </div>
               <div class="col">
            
                    <h6 class="fw-bolder">Genter</h6>
                    <span><img src="../assets/images/icons/Genter.svg" alt="">Genter</span>
           
               </div>
            </div>

             <div class="row pt-3">
               <div class="col">
           
                  <h6 class="fw-bolder">Salary</h6>
                  <span><img src="../assets/images/icons/Salary.svg" alt="">12000 to 15000</span>
       
               </div>
               <div class="col">
              
                    <h6 class="fw-bolder">Employment Type</h6>
                    <span><img src="../assets/images/icons/Employment.svg" alt="">Entry Level</span>
            
               </div>
               <div class="col">
           
                    <h6 class="fw-bolder">Education</h6>
                    <span><img src="../assets/images/icons/Education.svg" alt="">Graduate</span>
     
               </div>
            </div>

            <div class="pt-4">
                <span class="fs-5 fw-bolder">Minimun Qualification</span>
                <p class="pt-3">As a Product Designer, you will work within a Product Delivery Team fused with UX, engineering, product and data talent. You will help the 
                    team design beautiful interfaces that solve business challenges for our clients. We work with a number of Tier 1 banks on building web-based applications for AML, KYC and 
                    Sanctions List management workflows.</p>
            </div>

            <div class="pt-2">
                <span class="fs-5 fw-bolder">Responsabilities</span>
                <ul class="pt-4">
                    <li>Be involved in every step of the product design cycle from discovery to developer handoff and user acceptance testing.</li>
                    <li>Work with BAs, product managers and tech teams to lead the Product Design</li>
                    <li>Maintain quality of the design process and ensure that when designs are translated into code they accurately reflect the design specifications.</li>
                    <li>Accurately estimate design tickets during planning sessions.</li>
                    <li>Present your work to the wider business at Show & Tell sessions.</li>
                    <li>Design pixel perfect responsive UI’s and understand that adopting common interface patterns is better for UX than reinventing the wheel</li>
               </ul>
            </div>

            <div class="pt-2">
                <span class="fs-5 fw-bolder">Skills</span>
                <ul class="pt-4">
                    <li>Programming experience developing web applications with the Microsoft .NET stack and a basic knowledge of SQL</li>
                    <li>Development experience with Angular, Node.JS, or ColdFusion</li>
                    <li>HTML, CSS, XHTML, XML</li>
                    <li>Hypervisors, SAN’s, load balancers, firewalls, and Web Application Firewall (WAF)</li>
                    <li>Experience with Higher Logic (a collaboration platform)</li>
                    <li>MongoDB, Drupal</li>
                    <li>Mobile App Development (iOS and Android)</li>
               </ul>
            </div>

            <div class="d-flex mt-5 mb-5">
                <a class="btn btn-primary rounded-pill me-2">Apply Now</a>
               <a class="btn btn-outline-primary rounded-pill">Save Job</a>
            </div>
        </div>
        
        <!-- second column -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <div class="card border-0">
                  <img src="../assets/images/ads.png" alt="ads">
              </div>
              <div class="bg-light mt-4 p-3">
                <div class="row">
                    <div class="col">
                     <span class="fs-6">Jobs you might be intrested</span>
                    </div>
                    <div class="col text-end">
                     <a href="#" class="card-link text-decoration-none">View more<i class="bi bi-arrow-right"></i></a>
                    </div>
                 </div>

                 <div class="card border-0 shadow mt-3">
                   
                   <div class="card-body">
                    <h6 class="fw-lighter text-end" style="font-size: 12px;">Posted 2weeks ago</h6>
                    <div class="d-flex">
                          <img src="../assets/images/icons/Tatacompany.png" alt="" width="20%">
                           <div>
                            <span class="fs-5 fw-bolder">Plumber</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-geo-alt"></i>
                               <span>Chennai</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="d-flex text-warning">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                               <span>(45 Reviews)</span>
                            </div>
                           </div>
                    </div>
                   </div>
                 </div>

                 <div class="card border-0 shadow mt-3">
                   
                    <div class="card-body">
                     <h6 class="fw-lighter text-end" style="font-size: 12px;">Posted 2weeks ago</h6>
                     <div class="d-flex">
                           <img src="../assets/images/icons/Tatacompany.png" alt="" width="20%">
                            <div>
                             <span class="fs-5 fw-bolder">Plumber</span>
                             <div class="d-flex align-items-center">
                                 <i class="bi bi-geo-alt"></i>
                                <span>Chennai</span>
                             </div>
                             <div class="d-flex align-items-center">
                                 <div class="d-flex text-warning">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                 </div>
                                <span>(45 Reviews)</span>
                             </div>
                            </div>
                     </div>
                    </div>
                  </div>

                  <div class="card border-0 shadow mt-3">
                    <img src="../assets/images/verads.png" alt="" class="img-fluid">
                  </div>

                  <div class="card border-0 shadow mt-3">
                   
                    <div class="card-body">
                     <h6 class="fw-lighter text-end" style="font-size: 12px;">Posted 2weeks ago</h6>
                     <div class="d-flex">
                           <img src="../assets/images/icons/Tatacompany.png" alt="" width="20%">
                            <div>
                             <span class="fs-5 fw-bolder">Plumber</span>
                             <div class="d-flex align-items-center">
                                 <i class="bi bi-geo-alt"></i>
                                <span>Chennai</span>
                             </div>
                             <div class="d-flex align-items-center">
                                 <div class="d-flex text-warning">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                 </div>
                                <span>(45 Reviews)</span>
                             </div>
                            </div>
                     </div>
                    </div>
                  </div>


              </div>
        </div>
    </div>
</section>